body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0px;
}
fieldset
{
    
    text-align-last: center;
    width: 300px;
    border-radius: 5px;

}
legend
{
    margin: auto;
    font-family:'Courier New', Courier, monospace;
}
input
{
    padding: 5px;
    margin:10px;
}
form
{
    margin:10px
}